[submodule "tools/bert"]
	path = tools/bert
	url = https://github.com/google-research/bert.git
[submodule "tools/flair-experiments"]
	path = tools/flair-experiments
	url = https://github.com/stefan-it/flair-experiments.git
[submodule "tools/lassy2ud"]
	path = tools/lassy2ud
	url = https://github.com/gossebouma/lassy2ud.git
[submodule "tools/sentencepiece"]
	path = tools/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "tools/Parser-v1"]
	path = tools/Parser-v1
	url = https://github.com/tdozat/Parser-v1.git
[submodule "tools/jPTDP"]
	path = tools/jPTDP
	url = https://github.com/datquocnguyen/jPTDP.git
